<div class="wrap-general">
    <div class="wrap">
        <div class="cardd">
            <div class="imgBx">
                <img src="../../../assets/img/adele.png" alt="adele.png">
                <div class="action">
                    <li>
                        <i class="fas fa-play"></i>
                        <span>Reproducir</span>
                    </li>
                </div>
                <div class="more">
                    <i class="fas fa-ellipsis-v"></i>
                </div>
            </div>
            <div class="content">
                <div class="productName">
                    21
                </div>
                <div class="author">
                    Adele
                </div>
            </div>
        </div>
        <div class="cardd">
            <div class="imgBx">
                <img src="../../../assets/img/2.png" alt="">
                <div class="action">
                    <li>
                        <i class="fas fa-play"></i>
                        <span>Reproducir</span>
                    </li>
                </div>
                <div class="more">
                    <i class="fas fa-ellipsis-v"></i>
                </div>
            </div>
            <div class="content">
                <div class="productName">
                    Who You Are
                </div>
                <div class="author">
                    Jessie J
                </div>
            </div>
        </div>
        <div class="cardd">
            <div class="imgBx">
                <img src="../../../assets/img/3.png" alt="">
                <div class="action">
                    <li>
                        <i class="fas fa-play"></i>
                        <span>Reproducir</span>
                    </li>
                </div>
                <div class="more">
                    <i class="fas fa-ellipsis-v"></i>
                </div>
            </div>
            <div class="content">
                <div class="productName">
                    The War is Over
                </div>
                <div class="author">
                    Josh Baldwin
                </div>
            </div>
        </div>
        <div class="cardd">
            <div class="imgBx">
                <img src="../../../assets/img/4.png" alt="">
                <div class="action">
                    <li>
                        <i class="fas fa-play"></i>
                        <span>Reproducir</span>
                    </li>
                </div>
                <div class="more">
                    <i class="fas fa-ellipsis-v"></i>
                </div>
            </div>
            <div class="content">
                <div class="productName">
                    Bad
                </div>
                <div class="author">
                    Michael Jackson
                </div>
            </div>
        </div>
        <div class="cardd">
            <div class="imgBx">
                <img src="../../../assets/img/5.png" alt="">
                <div class="action">
                    <li>
                        <i class="fas fa-play"></i>
                        <span>Reproducir</span>
                    </li>
                </div>
                <div class="more">
                    <i class="fas fa-ellipsis-v"></i>
                </div>
            </div>
            <div class="content">
                <div class="productName">
                    The Fear
                </div>
                <div class="author">
                    Lily Allen
                </div>
            </div>
        </div>
        <div class="cardd">
            <div class="imgBx">
                <img src="../../../assets/img/6.png" alt="">
                <div class="action">
                    <li>
                        <i class="fas fa-play"></i>
                        <span>Reproducir</span>
                    </li>
                </div>
                <div class="more">
                    <i class="fas fa-ellipsis-v"></i>
                </div>
            </div>
            <div class="content">
                <div class="productName">
                    The 20 20 Experience
                </div>
                <div class="author">
                    Justin Timberlake
                </div>
            </div>
        </div>
        <div class="cardd">
            <div class="imgBx">
                <img src="../../../assets/img/7.png" alt="">
                <div class="action">
                    <li>
                        <i class="fas fa-play"></i>
                        <span>Reproducir</span>
                    </li>
                </div>
                <div class="more">
                    <i class="fas fa-ellipsis-v"></i>
                </div>
            </div>
            <div class="content">
                <div class="productName">
                    Currents
                </div>
                <div class="author">
                    Time Impala
                </div>
            </div>
        </div>
        <div class="cardd">
            <div class="imgBx">
                <img src="../../../assets/img/8.png" alt="">
                <div class="action">
                    <li>
                        <i class="fas fa-play"></i>
                        <span>Reproducir</span>
                    </li>
                </div>
                <div class="more">
                    <i class="fas fa-ellipsis-v"></i>
                </div>
            </div>
            <div class="content">
                <div class="productName">
                    Perfect Simmetry
                </div>
                <div class="author">
                    Keane
                </div>
            </div>
        </div>
        <div class="cardd">
            <div class="imgBx">
                <img src="../../../assets/img/9.png" alt="">
                <div class="action">
                    <li>
                        <i class="fas fa-play"></i>
                        <span>Reproducir</span>
                    </li>
                </div>
                <div class="more">
                    <i class="fas fa-ellipsis-v"></i>
                </div>
            </div>
            <div class="content">
                <div class="productName">
                    Nothing is Real
                </div>
                <div class="author">
                    Shura
                </div>
            </div>
        </div>
        <div class="cardd">
            <div class="imgBx">
                <img src="../../../assets/img/10.png" alt="">
                <div class="action">
                    <li>
                        <i class="fas fa-play"></i>
                        <span>Reproducir</span>
                    </li>
                </div>
                <div class="more">
                    <i class="fas fa-ellipsis-v"></i>
                </div>
            </div>
            <div class="content">
                <div class="productName">
                    Ghost Stories
                </div>
                <div class="author">
                    Colplay
                </div>
            </div>
        </div>
    </div>
</div>