<div class="wrap-detail">
    <div class="wrap-image">
        <img src="../../../assets/img/adele.png" alt="">
    </div>
    <div class="wrap-info">
        <div class="wrap-background">
            <img src="../../../assets/img/hester-qiang-HZkGsjauVzs-unsplash.jpg" alt="">
        </div>
        <div class="content">
            <div class="title">Adele 21</div>
            <div class="statistics">
                <div class="theBestOf">Lo mejor de Adele</div>
                <div class="followers">321,123 seguidores</div>
            </div>
            <div class="description">
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Itaque provident officia odit eligendi
                    mollitia distinctio illum odio quas. Doloribus assumenda quas eaque magnam, rem odit corrupti ipsa
                    tempore officiis voluptatem.</p>
            </div>
            <div class="wrap-buttons">
                <button class="play">Reproducir</button>
                <button class="follow">Seguir</button>
                <i class="fas fa-ellipsis-h"></i>
            </div>
        </div>
    </div>
</div>